<o-form-layout-manager attr="DinosaurTrainerAssociation" mode="tab" title="DINOSAURTRAINERASSOCIATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="DinosaurTrainerAssociationTable" 
            service="DinosaurTrainerAssociation" 
            entity="DinosaurTrainerAssociation" 
            title="DINOSAURTRAINERASSOCIATION"
            keys="id"
            columns="id;dinosaur_id;trainer_id" 
            header-actions="R;D"
            visible-columns="id;dinosaur_id;trainer_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="dinosaur_id" title="dinosaur_id">
    <o-table-cell-renderer-service attr="dinosaur_id" 
        service="Dinosaur" entity="DinosaurType" columns="id;name"
        parent-keys="id:dinosaur_id"
        value-column="name" keys="dinosaur_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="trainer_id" title="trainer_id">
    <o-table-cell-renderer-service attr="trainer_id" 
        service="Trainer" entity="TrainerType" columns="id;name"
        parent-keys="id:trainer_id"
        value-column="name" keys="trainer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>