<o-form-layout-manager attr="PlayGroupFacility" mode="tab" title="PLAYGROUPFACILITY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PlayGroupFacilityTable" 
            service="PlayGroupFacility" 
            entity="PlayGroupFacility" 
            title="PLAYGROUPFACILITY"
            keys="id"
            columns="facility_name;play_group_id;availability_status;id" 
            header-actions="R;D"
            visible-columns="facility_name;play_group_id;availability_status;id"  
            sort-columns="facility_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #facility_name attr="facility_name" title=" facility_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="play_group_id" title="play_group_id">
    <o-table-cell-renderer-service attr="play_group_id" 
        service="PlayGroup" entity="PlayGroupType" columns="id;name"
        parent-keys="id:play_group_id"
        value-column="name" keys="play_group_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #availability_status attr="availability_status" title="availability_status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>