<o-form-layout-manager attr="PlayGroupHost" mode="dialog" title="PLAYGROUPHOST">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PlayGroupHostTable" 
            service="PlayGroupHost" 
            entity="PlayGroupHost" 
            title="PLAYGROUPHOST"
            keys="id"
            columns="name;host_since;rating;id" 
            header-actions="R;D"
            visible-columns="name;host_since;rating;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #host_since attr="host_since" type="date" label="host_since" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>